.flights-info-container {
  flex: 1;
  text-align: left;
}

.flights-info-container .card{
  margin: 10px;
}
.pagination {
  display: block;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 10px;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

.pagination button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.flight-search-info .card{
      justify-content: space-between;
}

/* .Flight-info .btn{
      align-self: center;
        margin-top: auto;
} */



/* Ensure the loader container has a relative position */
.flights-info-container {
  position: relative; 
   min-height: 300px; 
}

/* Loader styling */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
  position: relative;
  margin: 20px 0;
}

/* .loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
} */

.loading-text {
  color: #3498db;
  font-size: 16px;
  font-weight: 500;
  /* margin-top: 10px; */
}

/* @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */
.loader-bounce {
  display: flex;
  justify-content: center;
  align-items: center;
    transform: translateY(-100px);
}

.loader-bounce span {
  display: inline-block;
  width: 20px; /* Increased size */
  height: 20px; /* Increased size */
  margin: 5px;  /* Optional margin for spacing */
  border-radius: 50%;
  animation: bounce 2s infinite ease-in-out; /* Slower animation (2s) */
}

.loader-bounce span:nth-child(1) {
  background-color: #007bff; /* Blue */
}

.loader-bounce span:nth-child(2) {
  background-color: #ff7f00; /* Orange */
  animation-delay: 0.5s;
}

.loader-bounce span:nth-child(3) {
  background-color: #ffeb3b; /* Yellow */
  animation-delay: 1s;
}

.loader-bounce span:nth-child(4) {
  background-color: #ff6347; /* Red */
  animation-delay: 1.5s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}





@media(max-width:767px){
  .flights-info-container{
    min-height:200px;
  }

  .loader{
    margin-top:8%;
  }
  
  .loading-text {
    font-size: 14px;
  }
}

@media(max-width:768px){
  .sort-options{
    margin-top:10px;
  }
}
