 #banner-sec .banner-image {
    margin-top: 0.5rem;
    margin-left: 5rem;
  } 
  


.banner-image {
  max-width: 100%;
  height: auto;
  max-height: 300px; /* Control max height */
  object-fit: contain; /* Maintains aspect ratio */
}
.interchange-icon img {
  transition: transform 0.3s ease;
}


.interchange-icon {
    margin-top: 0rem;
    text-align: center;
   
  }
.rotated {
  transform: rotate(-180deg);
}
.no-border-dropdown {
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none; /* Removes any shadow */
}
.cabin-selector-inline {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  white-space: nowrap;
}

.cabin-button-inline {
  background-color: #f5f7fa;
  border: 2px solid #e0e0e0;
  color: #333;
  padding: 10px 16px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1;
  min-width: 100px;
  text-align: center;
}

.cabin-button-inline.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.cabin-button-inline:hover {
  background-color: #e0f3ff;
  border-color: #007bff;
}

/* Optional: Add Scrollbar for Overflow */
.cabin-selector-inline::-webkit-scrollbar {
  height: 6px;
}

.cabin-selector-inline::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.custom-select__control {

  border: 1px solid #ccc;
}

.custom-select__placeholder {
  color: #999;
}
.css-6q0nyr-Svg {
  display: none;
  fill: currentColor;
  line-height: 1;
  stroke: currentColor;
  stroke-width: 0;
}
.checktrip {
  margin-top: 7px;
}
.select-container {
  position: relative;
}

.cabin-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #555; /* adjust color if needed */
}
.headerSearchText {
  cursor: pointer;
  user-select: none;
}

.passenger-arrow {
  margin-left: 6px;
}
.search-tabs .tab-content .tab-pane .searchbtn {
  padding: 8px 30px;
  margin-top: -30px;

}
.passenger-arrow {
  pointer-events: none;
}
.headerSearchText {
  cursor: pointer;
  user-select: none;
}
.passenger-arrow {
  pointer-events: none; /* Important! */
}

.passenger-form-group{
  width:160px;
}
@media (max-width: 576px) {
  .passenger-form-group {
    width: 77% !important;
   
  }
}
@media (max-width: 475px) {
  .passenger-form-group {
    width: 100% !important;
   
  }
}

#cabin-class-group{
  width:120px;
}
@media (max-width: 475px) {
  #cabin-class-group{
  width:100% !important;
}
}

/* Hide the hint text inside the Typeahead input */
.rbt-input-hint {
  display: none !important;
}