.Flight-info-details {
  /* display: flex; */
  /* display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox; */
  /* display: -webkit-flex; */
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  cursor: default;
}

.layover-info {
  text-align: center;
  background-color: bisque;
  font-weight: bold;
  margin: 0;
}

.detail-label p {
  font-size: 14px;
}

.itinerary-card__hidden-toggle:checked~.itinerary-card__travel-items {
  max-height: 1500px;
  margin-top: 0
}

.itinerary-card__travel-item {
  /* display: grid; */
  grid-template-columns: 48px 20px auto;
  column-gap: 16px;
  padding: 10px 5px;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  /* align-items: center;        Vertically centers children */
  justify-content: space-between; /* Adjust as needed */
  /* padding: 8px; */
  margin-top: 16px;

}

.itinerary-card__travel-item--segment-info div:nth-child(2),
.itinerary-card__travel-item--arrival span:nth-child(2),
.itinerary-card__travel-item--departure span:nth-child(2),
.itinerary-card__travel-item--layover span:nth-child(2) {
  position: relative;
  display: flex;
  justify-content: center
}

.itinerary-card__travel-item>span.material-symbols-outlined {
  font-size: 20px
}

.itinerary-card__travel-items {

  transition: max-height var(--default-transition), margin-top var(--default-transition);
  border-top: 1px solid var(--grey-200);
  /* margin-top: -5rem; */
  margin-left: 0px;
}

.itinerary-card__travel-item--origin {
  padding: 24px 24px 16px
}

.itinerary-card__travel-item {
  display: flex;
  /* grid-template-columns: 48px 20px auto;
  column-gap: 16px; */
  padding: 10px 5px;
  font-size: 13px;
  line-height: 20px
}

.itinerary-card__travel-item>*:first-child,
.itinerary-card__travel-item>span.material-symbols-outlined {
  color: var(--grey-600)
}

.itinerary-card__travel-item p {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
   margin: 0;
}

.itinerary-card p,
.itinerary-card span,
.itinerary-card img,
.itinerary-card ul,
.itinerary-card h3 {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s
}
.itinerary-card__travel-item > div {
  flex: 1;
  /* Optionally add text-align or padding */
  text-align: center;
}
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.itinerary-card {
  display: block;
  border: solid 1px var(--grey-200);
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  appearance: button;
  transition: box-shadow var(--default-transition);
  -moz-appearance: button;
  -webkit-appearance: push-button;
  overflow: hidden;
  min-height: 144px
}

.results-list {
  list-style: none;
  margin: 0;
  padding: 0
}

.itinerary-card__travel-item--segment-info {
  color: var(--grey-600);
  padding-block: 0;
  font-size: 12px;
  line-height: 18px;
  max-width: 785px;
  /* Make it full width */
  display: flex;
  /* Ensure children are laid out properly */
  flex-wrap: wrap;
  /* Allow wrapping of content if needed */
  padding: 1rem;
  /* Optional: Add padding for better spacing */
  box-sizing: border-box;
  /* Include padding in width calculation */
  justify-content: space-around;
}


.itinerary-card__travel-item>*:first-child,
.itinerary-card__travel-item>span.material-symbols-outlined {
  color: var(--grey-600)
}

.itinerary-card__travel-item--segment-info div:nth-child(2),
.itinerary-card__travel-item--arrival span:nth-child(2),
.itinerary-card__travel-item--departure span:nth-child(2),
.itinerary-card__travel-item--layover span:nth-child(2) {
  position: relative;
  display: flex;
  justify-content: center
}

.itinerary-card__travel-item--segment-info span {
  color: var(--grey-300);
  margin-inline: 8px
}

.itinerary-card__travel-item--segment-info img {
  margin-right: 20px
}

.itinerary-card__travel-item--destination {
  padding: 10px 5px;
}

.itinerary-card__travel-item>*:first-child,
.itinerary-card__travel-item>span.material-symbols-outlined {
  color: var(--grey-600)
}

.itinerary-card__travel-item>span.material-symbols-outlined {
  font-size: 20px
}

.itinerary-card__travel-item--layover,
.itinerary-card__travel-item--departure,
.itinerary-card__travel-item--arrival {
  color: var(--grey-600);
  background-color: var(--grey-100)
}

.itinerary-card__travel-item--segment-info div:nth-child(2),
.itinerary-card__travel-item--arrival span:nth-child(2),
.itinerary-card__travel-item--departure span:nth-child(2),
.itinerary-card__travel-item--layover span:nth-child(2) {
  position: relative;
  display: flex;
  justify-content: center
}


.itinerary-card__travel-item--arrival span:nth-child(2):before {
  margin-top: -36px
}

.itinerary-card__travel-item--arrival span:nth-child(2):before,
.itinerary-card__travel-item--departure span:nth-child(2):after,
.itinerary-card__travel-item--layover span:nth-child(2):before,
.itinerary-card__travel-item--layover span:nth-child(2):after {
  display: block;
  content: "";
  margin-top: -24px;
  position: absolute;
  height: 32px;
  border-left: dashed 1px var(--grey-300)
}

.itinerary-card__travel-item--layover,
.itinerary-card__travel-item--departure,
.itinerary-card__travel-item--arrival {
  color: var(--grey-600);
  background-color: var(--grey-100)
}

.itinerary-card__travel-item--segment-info div:nth-child(2),
.itinerary-card__travel-item--arrival span:nth-child(2),
.itinerary-card__travel-item--departure span:nth-child(2),
.itinerary-card__travel-item--layover span:nth-child(2) {
  position: relative;
  display: flex;
  justify-content: center
}

.itinerary-card__hidden-toggle:checked~.itinerary-card__travel-items {
  max-height: 1500px;
  margin-top: 0
}
.itinerary-card__travel-item p {
 
}

/* If you want to adjust only specific text, you can add a dedicated class */
.smaller-text {
  font-size: 0.8rem; /* Even smaller text */
}
.itinerary-card p,
.itinerary-card span,
.itinerary-card img,
.itinerary-card ul,
.itinerary-card h3 {
  /* animation:fadein 1s; */
  -moz-animation: fadein 1s;
  /* -webkit-animation:fadein 1s; */
  -o-animation: fadein 1s
}

.divider--small-margin {
  margin-top: 8px
}

.divider--dashed {
  border-style: dashed
}

.airline-logo {
  width: 20px;
  height: 20px
}

.airline-logo--small {
  width: 30px;
  height: 30px;
}

.airline-logo--medium {
  width: 40px;
  height: 40px;
   z-index: calc(100 - var(--logo-index));
}

.airline-logo--large {
  width: 50px;
  height: 50px;
}

.logo-stack {
  position: relative;
  /* To enable child positioning */
  display: flex;
  /* Align logos in a row */
  gap: -20px;
  /* Negative gap to overlap logos slightly */
  align-items: center;
  /* Vertically align logos */
}

.airline-logo-overlap {
  width: 40px;
  height: 40px;
  z-index: calc(100 - var(--logo-index));
  /* Higher logos have priority */
}

.single-logo {
  position: static;
  /* Remove overlap behavior */
  margin-left: 0;
  /* Reset margin for single logo */
  width: 40px;
  /* Set width to 40px for a single logo */
}

.layover-detail {
  margin-left: -0.5rem;
}

.layover-detail p{
  font-size: 15px;
}

@media (max-width: 600px){
  .itinerary-card__travel-item--segment-info{
    width: 645px;
    margin: 0 auto; /* Center the element */
    }
}
@media (min-width:907px) and (max-width: 970px) {
  .itinerary-card__travel-item--segment-info{
    width: 545px;
    margin: 0 auto; /* Center the element */
    }
}
@media (min-width: 1000px) and (max-width: 1198px) {
  .itinerary-card__travel-item--segment-info{
    width: 645px;
    margin: 0 auto; /* Center the element */
    }
}
/* ipad  */
@media (min-width:760px) and (max-width: 990px) {
  .itinerary-card__travel-item--segment-info{
    width: 470px;
    margin: 0 auto; /* Center the element */
    }
    .itinerary-card__travel-item p {
    
      font-size: 12px;
       margin: 0;
    }
.block {
  display: block;
}
.Flight-info p {
  font-weight: bold !important;
  color: #000000 !important;
  font-size: 17px;
  margin-top: 8px;
  margin-bottom: 12px;
}
.pg-search-form .btn, .Flight-info .btn {
  /* margin-top: 15px; */
   padding: 6px 20px; 
  background-color: #005085;
  color: #fff;
  size: a3;
}
.headerSearchText.optionarrow-down {
  display: inline-flex;    /* Places icons and text in a single horizontal line */
  align-items: center;     /* Vertically centers them if needed */
  white-space: nowrap;     /* Prevents line breaks */
}
.passenger-arrow {
  margin-left: 2px;        /* Optional spacing before the arrow icon */
}
.filter-section h5 {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.flight-search-info h3{
  margin: 0px 10px 10px 0px;
  font-size: 18px;
}
.col-md-6 {
  flex: 0 0 50.66667%; /* Equivalent to col-md-5 (since 5/12 ≈ 41.67%) */
  max-width: 45.66667%;
}


}
@media (max-width: 600px) {
  .itinerary-card__travel-item {
    flex-direction: column;
    align-items: flex-start; /* or center */
    /* width: auto; */
  }
  .itinerary-card__travel-item p {
    display: grid;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
     margin: 0;
  }

.filters {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  font-size: 10px;
}
.Flight-info p {
  flex: 1 1 20%; 
  font-size: 12px;
}

}
/* mobile */
@media (min-width:300px) and (max-width: 450px) {
  .itinerary-card__travel-item {
    flex-direction: column;
    align-items: flex-start; /* or center */
     width: 100%;
  }
  .itinerary-card__travel-item p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
     margin: 0;
     width: 100%;
  }
  .Flight-info p {
     flex: 1 1 20%; 
     font-size: 15px;
}
.itinerary-card__travel-item > div {
  flex: 1;
  /* Optionally add text-align or padding */
  text-align: center;
  width: 290px;
}
.block {
  display: block;
}
}
/* .block {
  display: block;
} */
