.options {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 2.5rem;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  /* cursor: not-allowed; */
}

.headerSearchItem {
  border-width: 1px;
  border-style: solid;
  border-color: #d9d4d4;
  background-color: white;
  height: 2.4rem;
  text-align: left;
  text-indent: 10px;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 5px;
}

.headerSearchText {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 2;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.headerSearchTripItem {
  border-width: 1px;
  border-style: solid;
  border-color: #d9d4d4;
  background-color: white;
  height: 2.4rem;
  text-align: left;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 5px;
  padding-left: 10px;
}

.headerSearchTripText {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 2;
  width: 100%;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.tripoptions {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 2.5rem;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.tripoptionItem {
  width: 10rem;
  display: block;
  margin: 10px;
}

.tripoptionCounter {
  text-align: left;
  font-size: 12px;
  color: black;
}

.arrow-down::after {
  content: '⌄';
  margin-left: 12.5rem;
  color: #0047b1;
  font-size: 20px;
  position: absolute;
  top: -0.4rem;
}

.arrow-up::after {
  content: '⌃';
  margin-left: 12.5rem;
  color: #0047b1;
  font-size: 20px;
  position: absolute;
  top: 0.2rem;
}

.optionarrow-down::after {
  content: '⌄';
  margin-left: 12.5rem;
  color: #0047b1;
  font-size: 20px;
  position: absolute;
}

.optionarrow-up::after {
  content: '⌃';
  margin-left: 12.5rem;
  color: #0047b1;
  font-size: 20px;
  position: absolute;
  top: 0.2rem;
}

.dropdown-menu {
  width: auto !important;
}


.cabinarrow-down::after {
  content: '⌄';
  margin-left: 13rem;
  color: #0047b1;
  font-size: 20px;
  position: absolute;
  top: 0;
}

.cabinarrow-up::after {
  content: '⌃';
  margin-left: 13rem;
  color: #0047b1;
  font-size: 20px;
  position: absolute;
  top: 0.5rem;
}

