.options {
  width: 100%;
  z-index: 5;
  position: absolute;
  left: 0px;
  top: 2.8rem;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  color: #000;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  /* cursor: not-allowed; */
}

.headerSearchItem {
  border-width: 1px;
  border-style: none;
  border-color: #d9d4d4;
  background-color: white;
  height: 2.4rem;
  text-align: left;
  /* text-indent: 10px; */
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 5px;
  margin-top: 12px;
}

.headerSearchText {
  cursor: pointer;
  display: contents;
  align-items: center;
  line-height: 2;
  font-size: 16px;
  margin-top: 0.3rem;
  padding-right: 9rem;
}

.headerSearchTripItem {
  border-width: 1px;
  border-style: none;
  border-color: #d9d4d4;
  background-color: white;
  height: 2.4rem;
  text-align: left;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 5px;
  padding-left: 10px;
}

.headerSearchTripText {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 2;
  width: 100%;
  font-size: 16px;
  margin-top: 0.3rem;
}

.tripoptions {
  width: 100%;
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 2.8rem;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.tripoptionItem {
  width: 10rem;
  display: block;
  margin: 10px;
}

.tripoptionCounter {
  text-align: left;
  font-size: 12px;
  color: black;
}

.select-container {
  position: relative;
}

.cabin-arrow {
  position: absolute;
  right: 10px;
  /* Adjust as needed to align perfectly */
  top: 50%;
  transform: translateY(-50%);
  color: #0047b1;
  pointer-events: none;
  /* Prevent clicking on the icon */
}
.form-label{
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.headerSearchTripText{
    position: relative;
    display: inline-block;
    padding-right: 25px;
    /* Space for the arrow */
  }


.trip-arrow{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #0047b1;
    pointer-events: none;
    /* Prevent clicking on the icon */
    font-size: 15px;
  }
.passenger-arrow {
  position: absolute;
  right: 10px;
  top: 36%;
  transform: translateY(-50%);
  color: #0047b1;
  pointer-events: none;
  /* Prevent clicking on the icon */
  font-size: 16px;
}


#profile-container .card:hover {
  transform: none;
}

#profile-container .edit-link{
  color: #0050B7;
}

.kep-login-facebook{
padding: 5px !important;
  font-size: 12px !important;
  height: 35px !important;
  border-radius: 3px !important;
  text-transform: capitalize !important;
}

#cabinclass{
  border: none;
}

#toDestination{
  background-color: #005085;
    color: #fff;
}

#toDestination:hover{
background-color: #ffd842;
  color: #000;
}
.user-icon {
  margin-right: 5px; /* Adjust this value as needed */
}