.filters {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.filters-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e2dcdc;
    margin-bottom: 15px;
}

.filters-header h5 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

.clear-all {
    font-size: 14px;
    color: #005085;
    /* Bootstrap's primary link color */
    text-decoration: none;
}

.clear-all:hover {
    text-decoration: underline;
}

.filter-section {
    margin-bottom: 10px;
    border-bottom: 1px solid #e2dcdc;
}

.filter-section h5 {
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.filter-section input[type="checkbox"] {
    margin-right: 10px;
}

.filter-section input[type="range"] {
    width: 100%;
}

.filter-section div {
    /* margin-bottom: 10px; */
}

.filter-section .more {
    font-size: 12px;
}

.filter-section .more a {
    text-decoration: none;
    color: #007bff;
}

/* range-slider-custom */
#range-slider-custom {
        height: 3px !important;
}

#range-slider-custom .range-slider__range {
height: 20%;
    background: #005085 !important;
    transition: height 0.3s;
}

#range-slider-custom .range-slider__thumb {
    background: #005085 !important;
    transition: transform 0.3s;
    width: 20px !important;
    height: 20px !important;
}

#range-slider-custom .range-slider__thumb[data-active] {
    transform: translate(-50%, -50%) scale(1.25);
}

#range-slider-custom .range-slider__range[data-active] {
    height: 16px;
}



.bags-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.bag-counter {
    display: flex;
    align-items: center;
}

.bag-counter button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.bag-counter span {
    margin: 0 10px;
    font-size: 16px;
}
/* Remove bottom border of the last filter section */
.filter-section:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.filters input[type=radio]{
    margin-right: 10px;
}
p, ul {
    /* margin: auto; */
    line-height: 1.5em;
    font-size: 14px;
    margin-bottom: 5px;

}
.border{
    margin-right: 9px;
    margin-bottom: 10px;
}

.nextdiv {
    margin-bottom: 0px;
}
.textcol {
   color: #2563EB;
}
@media (min-width:760px) and (max-width: 768px) {

  .filter-section h5 {
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .filters-header h5 {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}
.filters {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.8rem;
}
.Flight-info p {
    /* flex: 1 1 20%; */
    font-size: 14px;
}
  }
  /* mobile */
@media (max-width: 400px) {

    .filter-section h5 {
        font-size: 13px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: bold;
      }
      .filters-header h5 {
        margin: 0;
        font-weight: bold;
        font-size: 14px;
    }
    .filters {
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 5px;
        font-size: 0.8rem;
    }
    .flight-search-info h3{
        margin: 10px 10px 10px 0px;
        font-size: 18px;
        font-size: 1.1rem;
      }
      .itinerary-card__travel-item--segment-info img{
        margin-bottom: 15px;
      }
}